h1 Ask and you shall be answered!
.well
	form(action='/question', method='post')
		fieldset
			.control-group
				label.control-label(for='question') Question 
				.controls
					input.input-xlarge#question(type='text', name='question', placeholder='Make it good!')
			.form-actions
				button.btn.btn-primary(type='submit') Ask already

