!!! 5
html(lang='en')
	head
		title Votr
		link(rel='stylesheet', href='/lib/css/bootstrap.css')
		link(rel='stylesheet', href='/lib/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/lib/css/style.css')
	body(data-port= port)
		.container!= body
		script(data-main='/lib/js/main.js', src='/lib/js/require-jquery.js')
